# Игнорирование файлов и папок, создаваемых PyInstaller
/build/
*.spec

# Игнорирование файлов Python
*.pyc
*.pyo
__pycache__/

# Игнорирование виртуальных окружений
venv/
.env/

# Игнорирование системных файлов
.DS_Store
Thumbs.db

# Игнорирование логов и временных файлов
*.log
*.tmp
*.bak
*.swp
*.swo

# Игнорирование IDE-файлов
.idea/
.vscode/

# Игнорирование файлов настроек
settings.json

# Игнорирование временных файлов PyInstaller
build/**
**/localpycs/